{% extends 'base.html' %}

{% block head %}
<title>OpenGallerie; Login</title>
{% endblock %}

{% block body %}
<div>
    <div><h2>Login</h2></div>
    <div>
        <form action="/" method="POST">
            <input type="text" placeholder="Username" name="username" required id="username">
            <input type="text" placeholder="Email" name="email" required id="email">
            <input type="password" placeholder="Password" name="password" required id="password">

            <button type="submit">Login</button>
        </form>
    </div>
    <div>Don't have an account yet? <a href="">Make one here.</a></div>
</div>
{% endblock %}