{% extends 'base.html' %}

{% block head %}
<title>OpenGallerie; Open Gallery</title>
{% endblock %}


{% block body %}
<div>
    <h1>{{ user.username }}'s Gallery</h1>
    <p>User's id: {{ user.id }}</p>

    <div><button onclick="window.location.href='/upload_image'">Upload Image</button></div>
    <div><button onclick="window.location.href='/display_profile'">View Profile</button></div>

    <form action="/delete_account" method="POST">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <button type="submit">Delete Account</button>
    </form>

    <div>
        <h2>Feed</h2>
        <div>
            {% for image in images %}
                <img onclick="openImage(this)" src="{{ url_for('static', filename='uploads/' ~ image.image_filename) }}" width="300">
                <p>{{ image.image_filename }}</p>
                <p>{{ image.image_description }}</p>
                <p>Uploaded on: {{ image.date_uploaded.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% else %}
                {{image.image_filename}}
                <p>No images uploaded yet.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}